html , body {
	height: 100% ;
}
.points-overlay {
	height: 100% ;
	width: 100% ;
}
.points-layout {
	width: 20% ;
}
.points-layout > div {
	overflow-y: auto ;
	height: 100% ;
}
#map {
	height: 100% ;
}
#points {
	width: 100% ;
}
#points thead th {
	text-align: center ;
}
#points tbody td {
	text-align: right ;
	padding: 2px ;
}
.nod {
	clear: both ;
}